<!-- Kenneth Dayman - 1502246 -->
<!-- Head information to be inserted into the main pages -->

<head>

  <meta charset=”UTF-8">
  <meta http-equiv=”X-UA-Compatible” content=”IE=edge”>
  <meta name=”viewport” content=”width=device-width, initial-scale=1">
  <meta name="author" content="Kenneth Dayman">

  <title>KeepTrack.Me</title>

  <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />

  <script>

    function changeTime(val) {
      document.getElementById("sTime").innerHTML = val;
      document.getElementById('eTime').value = val;
    }

    function changeDate(val) {
      document.getElementById("sDate").innerHTML = val;
      document.getElementById('eDate').value = val;
    }

  </script>

</head>
