<!DOCTYPE html>

<html>

<% include /partials/head %>

<body>

  <% include /partials/header %>

  <main class="main-container" role"main">

    <div class="main-header">
      <h1>
        <%- title %>
      </h1>
    </div>

    <img class="front-page-image" src="/images/wedding.jpg" alt="front-page-image">
    <div class="main-content">

      <div class="main-content-text">

        <h2>Welcome to Keep Track</h2>

        <p>Create an account with Keep Track to begin planning you’re perfect Event!</p>

      </div>
    </div>

  </main>

  <% include /partials/footer %>

</body>

</html>
