<!DOCTYPE html>

<html>

<% include /partials/head %>

<body>


  <% include /partials/header %>

  <main class="main-container" role"main">

    <div class="main-header">
      <h1>
        <%- title %>
      </h1>
    </div>

    <img class="event-page-image" src="/images/about.jpg" alt="event-picture">

    <div class="main-content">
      <div class="main-content-text">

        <p>My Name is Kenneth Dayman and I currently live in Colchester, Essex.
          I’m Twenty-Seven years old and have been interested in
          computing from a young age. Other interests include Sport and creating Videos.</p>

        <p>I’m currently at the University of Essex studying Computer Science. Throughout
          the four-year course I have learnt numerous programming languages and techniques.
          These have assisted in the development of this Website which has been built using a Node.js environment.</p>

      </div>
    </div>

  </main>

  <% include /partials/footer %>

</body>

</html>
